<div>
  <open-space-header></open-space-header>
  <div class="title">

    <h1>We are VORKURT</h1>
  </div>
  <div>
    <open-space-body></open-space-body>
    <p class="paragrf-vorkurt">
      hello, this is the VORKURT transport company, we want to
      tell you that we thank you for visiting our website, and
      I hope you find what you are looking for
    <img src="![](../../../../../../IMG.jpg)"></p>
  </div>


  <div class="background">
    <span *ngFor="let empty of [].constructor(63)"></span>
  </div>
</div>

