<div>
  <open-space-header></open-space-header>
  <div class="title">

    <h1>We are VORKURT</h1>
  </div>
  <div class="introduction-animation">
      <open-space-body></open-space-body>
       <p class="paragrf-vorkurt">
      hello, this is the VORKURT transport company, we want to
      tell you that we thank you for visiting our website, and
      I hope you find what you are looking for
       </p>

    <div class="country-wrap">


      <div class="sun"></div>
      <div class="grass"></div>
      <div class="street">
        <div class="car">

          <div class="car-body">
            <div class="car-top-back">
              <div class="back-curve"></div>
            </div>
            <div class="car-gate"></div>
            <div class="car-top-front">
              <div class="wind-sheild"></div>
            </div>
            <div class="bonet-front"></div>
            <div class="stepney"></div>
          </div>
          <div class="boundary-tyre-cover">
            <div class="boundary-tyre-cover-back-bottom"></div>
            <div class="boundary-tyre-cover-inner"></div>
          </div>
          <div class="tyre-cover-front">

  <div class="background">
    <span *ngFor="let empty of [].constructor(63)"></span>
  </div>
</div>

