@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
  background-color: blue;
}

.title {
  background: #112222;
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 16px;
  line-height:2
}

h1 {
  background-image: url(https://images.squarespace-cdn.com/content/v1/574e156345bf21546484c353/1603843281871-UZH0K23A50NR0P03P83N/web_image_01a.jpg?format=1000w);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: whitesmoke;
  overflow: hidden;
  z-index: -4;
}
.paragrf-vorkurt{
  font-size:35px;
  text-align: center;
  margin:100px;
}
