

<div class="tot">
  <open-space-header></open-space-header>
  <div class="title">

    <!--    //that is for h1 animation-->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter"> We are VORKURT</h3>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <!--    //finaliy animation "vezi ba ca trebe sa o inveti sa o faci "-->


  </div>
  <div class="introduction-animation">
    <open-space-body></open-space-body>
    <p class="paragrf-vorkurt">
      hello, this is the VORKURT transport company, we want to
      tell you that we thank you for visiting our website, and
      I hope you find what you are looking for

    </p>

    <div class="country-wrap">
<!--      src="https://t4.ftcdn.net/jpg/02/66/68/25/240_F_266682562_LCt0H3R9OxNQfrkmVa8rJzLfFnUEy8y9.jpg"-->
          <div class="car-body">
            <div class="car-top-back">
              <div class="back-curve"></div>
            </div>
            <div class="car-gate"></div>
            <div class="car-top-front">
              <div class="wind-sheild"></div>
            </div>
            <div class="bonet-front"></div>
            <div class="stepney"></div>
          </div>
          <div class="boundary-tyre-cover">
            <div class="boundary-tyre-cover-back-bottom"></div>
            <div class="boundary-tyre-cover-inner"></div>
          </div>
          <div class="tyre-cover-front">
            <div class="img">
               <!-- nu deschide ii imagine ai ii MARE -->
          <div class="imgtruck">
           <img src="https://t4.ftcdn.net/jpg/02/66/68/25/240_F_266682562_LCt0H3R9OxNQfrkmVa8rJzLfFnUEy8y9.jpg" />
            </div>
            <div class="background">
              <span *ngFor="let empty of [].constructor(63)"></span>
            </div>

