
.hover-1 {
  background: linear-gradient(#f0f0f0 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  border-radius: none;
  border:none;
  color: #fff;
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  margin-right: 40px ;
  margin-top: 10px;
  padding:20px;
  cursor: pointer;
  padding: 0 0.07em;
}

.hover-1:hover {
  --p: 100%;
  color: rgb(0, 0, 0);
}

.color-button{
       background: #112222;
}
button{
  magin: 30px;
}